.DriverList{
    font-family: "Forte";
    list-style-type: numbers;
    color: black;
    padding: 0px;
    margin: 0px;
    display: block;
    float:left;
    background-color: #77BCA9;
}
.Headar{
    font-family: Alef;
    margin: 10px;

}
.Headar:hover{
    font-size: large;
    margin: 10px;
}
a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
a:hover {
    font-size: 20px;
    margin: -10px;
    color: #F78E1E;

}
.active{
    margin: -1px;
    color: #FFEC73;
    background-color: #015077;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 20px;
    background-size: 10px;
}
.Bio{
    text-align: justify;
    margin-left: 25%;
    padding-left: 20px;
    margin-right: 10%;
}
.Pictr{
    float: right;
    margin-top: -200px;
    margin-right: 10px;
}
.Steckbrief{
    margin-left: 30%;
    list-style: square;
}
.Fah{
    max-width: 3000px;
    height: auto;
    margin-right: 15px;
}
.Meme{
    max-width: 300px;
    height: auto;
    float: left;
    margin-right: 15px;
}
body{
    background-color: lightgray;
    font-size: 20px;
    font-family: "Agency FB";
}
.Teamss{
    color: orange;
}
